*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Luckiest Guy', cursive;
    background-color: turquoise;
}

header h1{
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

footer div{
    text-align: center;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 65%;
    margin-top: 30px;
}

.cards-row{
    height: 230px;
    margin-bottom: 30px;
    width: 100%;
}

.card{
    margin: 0 7px;
    width: calc(25% - 14px);
    height: 100%;
    float: left;
    border-radius: 10px;
}

.img-back{
    background-image: url(../img/pattern.png);
    background-size: contain;
}












.text-white{
    color: rgb(255, 255, 255);
}

.text-purple{
    color: purple;
}

.text-orange{
    color: orange;
}

.text-blue{
    color: blue;
}

.text-lightblue{
    color: turquoise;
}