*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Luckiest Guy', cursive;
    background-color: turquoise;
}

header h1{
    min-width: 700px;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(63, 59, 59, 0.418);
}

footer div{
    text-align: center;
}

div h2{
    text-align: center;
    display: none;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 65%;
    margin-top: 30px;
    min-width: 780px;
}

.cards-row{
    height: 230px;
    margin-bottom: 30px;
    width: 100%;
}

div.img-back{
    margin: 0 7px;
    width: calc(25% - 14px);
    height: 100%;
    float: left;
    border-radius: 10px;
}

.img-adapter{
    background-size: contain;
    background-position: center;
}

div.img-back:hover h2{
    display: block;
}

.img-back:hover{
    background-image: none;
}

.img-back{
    background-image: url(../img/pattern.png);
    background-color: white;
    box-shadow: 4px 4px 4px rgba(63, 59, 59, 0.418);
}

.discover{
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: none;
}

div.img-back:hover .air_baloon{
    display: block;
}

div.img-back:hover .bicycle{
    display: block;
}

div.img-back:hover .ship{
    display: block;
}

div.img-back:hover .submarine{
    display: block;
}

div.img-back:hover .tractor{
    display: block;
}

div.img-back:hover .tram{
    display: block;
}

.tram{
    background-image: url(../img/noun_Tram_3134750.png);
}

.tractor{
    background-image: url(../img/noun_Tractor_3134797.png);
}

.submarine{
    background-image: url(../img/noun_Submarine_3134738.png);
}

.ship{
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.air_baloon{
    background-image: url(../img/noun_air_balloon_3134741.png);
}

.bicycle{
    background-image: url(../img/noun_Bicycle_3134821.png);
}

.text-white{
    color: rgb(255, 255, 255);
}

.text-purple{
    color: purple;
}

.text-orange{
    color: orange;
}

.text-blue{
    color: blue;
}

.text-lightblue{
    color: turquoise;
}

.text-tomato{
    color: tomato;
}

.text-gold{
    color: gold;
}