*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Luckiest Guy', cursive;
    background-color: turquoise;
}

header h1{
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

footer div{
    text-align: center;
}

div.card h2{
    text-align: center;
    display: none;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 65%;
    margin-top: 30px;
}

.cards-row{
    height: 230px;
    margin-bottom: 30px;
    width: 100%;
}

div.card.img-back{
    margin: 0 7px;
    width: calc(25% - 14px);
    height: 100%;
    float: left;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.308);
}

.card{
    background-size: contain;
    background-position: center;
    background-color: white;
}

.img-back{
    background-image: url(../img/pattern.png);
}

div.card.img-back:hover .air_baloon{
    display: block;
}

div.card.img-back:hover h2{
    display: block;
}

div.card.img-back:hover .img-back{
    display: none;
    z-index: -100;
}












.air_baloon{
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: none;
}

.text-white{
    color: rgb(255, 255, 255);
}

.text-purple{
    color: purple;
}

.text-orange{
    color: orange;
}

.text-blue{
    color: blue;
}

.text-lightblue{
    color: turquoise;
}